*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: sans-serif;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}


.main {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgb(7, 19, 73);


}

input {
    width: 320px;
    border: none;
    text-align: right;
    background : transparent;
    padding: 24px;
    margin: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

input::placeholder {
    color: white;
}

button {
    border: none ;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgb(7, 19, 73);
}

.equal {
    background-color: orange;
}

.operator {
    color: rgb(0, 255, 0);
}